.offerWrappers {
  width: 530px;
  height: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.offerWrappers .offerPhoto {
  width: 199px;
  height: 100%;
}
.offerWrappers .offerText {
  min-height: 193px;
  width: 306px;
  margin-left: 20px;
}
.offerWrappers .offerText h1 {
  font-family: proxima;
  font-size: 30px;
  color: black;
  border-bottom: solid 2px black;
}
.offerWrappers .offerText h1 span {
  font-family: proxima;
  font-size: 20px;
  color: #FF7D38;
}
.offerWrappers .offerText p {
  font-family: gill-sans;
  font-size: 16px;
  color: black;
}
.offerWrappers .offerLearn {
  height: 40px;
  width: 120px;
  margin-top: 100px;
  background-color: #79ADDC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: gill-sans;
  font-size: 15px;
  border-radius: 20px;
}